<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cobee.javawebtech.spring.dao.SysRoleMapper">
	
	<select id="get" resultType="com.cobee.javawebtech.spring.entity.SysRole" >
		select * from sys_role where id = #{id}
	</select>
	
	<update id="update" >
		update sys_role set name = #{name} where id = #{id}
	</update>
	
</mapper>